
%svg#obiwan{"enable-background" => "new 0 0 290 250", :space => "preserve", :version => "1.1", :viewbox => "0 0 290 250", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %lineargradient#SVGID_1_{:gradientunits => "userSpaceOnUse", :x1 => "135.503", :x2 => "230.4607", :y1 => "90.7943", :y2 => "180.7542"}
    %stop{:offset => "0", :style => "stop-color:#ADB2AF"}
    %stop{:offset => "1", :style => "stop-color:#ADB2AF;stop-opacity:0"}
  %polygon{:fill => "url(#SVGID_1_)", :points => "291,146 179,20.6 93.6,151.4 179.7,244 "}
  %g
    %path{:d => "M187.5,46.2c-3.9-13.3-15.8-32.1-42.6-32.1s-38.6,18.8-42.5,32.1c-10.7,36.1-23.8,54.2-23.8,54.2\r\n\t\tc2.4,47.3,30.2,61,52.4,84.8c7.9,6.9,19.7,7.9,28.1,0c22.2-23.8,49.9-37.5,52.3-84.8C211.3,100.4,198.2,82.3,187.5,46.2z"}
    %g
      %path{:d => "M179,86.9V61.1l-69,0.5v25.3c0,0-3.9,53.2,34.5,53.2C183,140.1,179,86.9,179,86.9z", :fill => "#E1BA9B"}
      %path{:d => "M179,86.9V61.1l-69,0.3v26.7c0,0,5.3-6.5,12.9-6.5s12.3,6,12.3,6l0.1,51.2c2.9,0.8,6,1.3,9.6,1.3\r\n\t\t\tC183.4,140.1,179,86.9,179,86.9z", :fill => "#BA9379"}
      %path{:d => "M109.7,86.9c0,0,2.8,25.6,11.2,28.4c0.5-6.1,1.7-9.9,4.6-12.5c2.8-2.6,10.9-8,10.9-8s3.6,1.6,7.6,1.6v7.2\r\n\t\t\tc0,0-3.3,1.8-7.5,1.8c-4.2,0-7.1-0.2-7.1-0.2s-0.1,5.6,0.3,8s0.6,4.5,3.4,4.5s10.9-0.2,10.9-0.2V141\r\n\t\t\tC105,141,109.7,86.9,109.7,86.9z", :fill => "#FFFFFF"}
      %path{:d => "M179.1,86.9c0,0-2.4,25.6-10.9,28.4c-0.5-6.1-1.6-9.9-4.4-12.5c-2.8-2.6-11.6-8-11.6-8s-3.2,1.6-8.2,1.6\r\n\t\t\tv7.2c0,0,4.1,1.8,8.3,1.8c4.2,0,7.5-0.2,7.5-0.2s0.3,5.6-0.1,8c-0.5,2.4-1.2,4.5-4,4.5s-11.6-0.2-11.6-0.2V141\r\n\t\t\tC183,141,179.1,86.9,179.1,86.9z", :fill => "#D8D8D8"}
    %path{:d => "M130.9,185.1c-22.2-23.8-54.8-34.5-57.4-85.3c0,0,14.1-19.5,25.6-58.3C103.5,27.2,116,7,145,7v61.9\r\n\t\tc0,0-52.1,2.2-52.1,34.8C92.9,145.6,128.6,154.6,130.9,185.1z", :fill => "#6D645F"}
    %path{:d => "M159.1,185.1c22.2-23.8,54.8-34.5,57.4-85.3c0,0-14.1-19.5-25.6-58.3C186.5,27.2,174,7,145,7v61.9\r\n\t\tc0,0,52.1,2.2,52.1,34.8C197.1,145.6,161.4,154.6,159.1,185.1z", :fill => "#4B4641"}
