// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #444444;
$proj-link: #2989e0;
$proj-link-hover: #d49704;
$proj-nav-hl: #d49704;

$proj-bkg-fill: #bf9504;
$proj-bkg-svg: url('/images/header-bkgs/pyramid.svg');

$proj-footer-lt: #f2ab00;
$proj-footer-dk: #444444;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
