// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #9c6b3d;
$proj-link: #48a58e;
$proj-link-hover: #2b715c;
$proj-nav-hl: #48a58e;

$proj-bkg-fill: #48a58e;
$proj-bkg-svg: url('/images/header-bkgs/c.svg');

$proj-footer-lt: #48a58e;
$proj-footer-dk: #2b715c;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
