// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #21759b;
$proj-link: #4173a0;
$proj-link-hover: #214a6f;
$proj-nav-hl: #de6a21;

$proj-bkg-fill: #304656;
$proj-bkg-svg: url('/images/header-bkgs/wordpress.svg');

$proj-footer-lt: #21759b;
$proj-footer-dk: #223f54;
$proj-footer-txt: #d1e1e8;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/friendly';

// GLOBAL PROJECT STYLES
@import 'project-global';
