// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #365691;
$proj-link: #2989e0;
$proj-link-hover: #132c6b;
$proj-nav-hl: #2989e0;

$proj-bkg-fill: #183861;
$proj-bkg-svg: url('/images/header-bkgs/mariadb.svg');

$proj-footer-lt: #365691;
$proj-footer-dk: #183861;
$proj-footer-txt: #c1cfe8;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
