// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #3dad5d;
$proj-link: #2989e0;
$proj-link-hover: #3dad5d;
$proj-nav-hl: #2989e0;

$proj-bkg-fill: #383c3c;
$proj-bkg-svg: url('/images/header-bkgs/mongodb.svg');

$proj-footer-lt: #3dad5d;
$proj-footer-dk: #383c3c;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/perldoc';

// GLOBAL PROJECT STYLES
@import 'project-global';
