// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #0b8496;
$proj-link: #2989e0;
$proj-link-hover: #0b8496;
$proj-nav-hl: #0b8496;

$proj-bkg-fill: #1f6783;
$proj-bkg-svg: url('/images/header-bkgs/sailsjs.svg');

$proj-footer-lt: #0b8496;
$proj-footer-dk: #146673;
$proj-footer-txt: #c7d6e6;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
