// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #ca342c;
$proj-link: #0066aa;
$proj-link-hover: #0099ff;
$proj-nav-hl: #ca342c;
$proj-bkg-fill: #323232;

// SET THE HEADER BACKGROUND IMAGE
#header             { background: url('/images/header-bkgs/redis.svg'); background-color: $proj-bkg-fill;}

// THE FOLLOWING APPLY ALL THE PROJECT-SPECIFIC COLORS
.guide              {
  #version-btn      { background: $proj-accent; }
  #contents         {
    li              {
      &.active      {
        & > a,
        & > a:hover { color: $proj-nav-hl !important; }
        & > span .nav-bullet rect,
        & > span .nav-btn-circle path { fill: $proj-nav-hl !important; }
      }
      &.buried > span .nav-btn-circle path { fill: $proj-nav-hl !important; }
      a:hover       { color: $proj-link !important; }
    }
    .nav-btn-circle path { fill: $proj-accent; }
  }

  .guide-content    {
    h1              { color: $proj-accent; }
    h2 a            {  }
    h3 a            { color: $proj-accent; }
    h4 a            {  }
    h5 a            { color: $proj-accent; }
    h6 a            {  }
    p,li,td         {
      a             { color: $proj-link;
        &:hover     { color: $proj-link-hover; }
      }
      code          { color: $proj-accent; }
    }
    blockquote      { border-color: $proj-accent; }
    table           {
      th            { background-color: $proj-accent; }
    }

    // SYNTAX HIGHLIGHTING (Optional)
    // Themes can be found in /source/stylesheets/syntax-hl

    @import 'syntax-hl/manni';

  }
}
