// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #ca342c;
$proj-link: #0066aa;
$proj-link-hover: #0099ff;
$proj-nav-hl: #ca342c;

$proj-bkg-fill: #323232;
$proj-bkg-svg: url('/images/header-bkgs/redis.svg');

$proj-footer-lt: #323232;
$proj-footer-dk: #ca342c;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/vs';

// GLOBAL PROJECT STYLES
@import 'project-global';
