// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #47acde;
$proj-link: #1b8bc3;
$proj-link-hover: #115d84;
$proj-nav-hl: #c54949;

$proj-bkg-fill: #2c2a2a;
$proj-bkg-svg: url('/images/header-bkgs/react.svg');

$proj-footer-lt: #2c2a2a;
$proj-footer-dk: #47acde;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
