// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #c12e35;
$proj-link: #4392da;
$proj-link-hover: #11528e;
$proj-nav-hl: #c12e35;

$proj-bkg-fill: #84251c;
$proj-bkg-svg: url('/images/header-bkgs/rails.svg');

$proj-footer-lt: #c12e35;
$proj-footer-dk: #84251c;
$proj-footer-txt: #efd9db;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
