
// Upper and Lower Ends
$sm-upper: "(max-width: 40em)";      /* 640px */
$md-lower: "(min-width: 40.063em)";  /* 641px */
$md-upper: "(max-width: 54em)";      /* 864px */
$lg-lower: "(min-width: 54.063em)";  /* 865px */
$lg-upper: "(max-width: 90em)";      /* 1440px */

// Specifications
$screen: only screen !default;

$landscape: $screen and (orientation: landscape) !default;
$portrait: $screen and (orientation: portrait) !default;

// Ranges
$small-up: $screen !default;
$small-only: $screen and $sm-upper !default;

$medium-up: $screen and $md-lower !default;
$medium-only: $screen and $md-lower and $md-upper !default;

$large-up: $screen and $lg-lower !default;
$large-only: $screen and $lg-lower and $lg-upper !default;


// Styles -------------------------------------------------


@media #{$small-up} { }
@media #{$small-only} {

  body                { font-size: 14px; }
  #header             {
    #nbg-logo-link    { display: block; margin: .5em auto 0; text-align: center; }
    h1                { font-size: 1.75em; padding: .5em 1.5em 2em;  }
  }
  .wrapper            { padding-top: 1.5em !important;
    #project-search   { position: relative !important; margin-bottom: 1em; width: 100% !important; right: 0 !important;}
    .category h2      { text-align: center; }
    .flex-container   { justify-content: center !important; }
    .project          { margin: .1em 1.5em;
      img             { width: 60px; }
    }
    #no-results       { padding: 1em; font-size: 1.2em; }
  }

  .guide              {
    #header           { padding: 1em 1.5em;
      #logo-link      {
        img           { width: 4em; }
        .project-title { margin-top: 1.4em !important; }
      }
      #nbg-logo-link  { top: 1.7em !important; 
        .nbg-logo     { margin: 0 !important; }
        .nbg-text     { display: none; }
      }
    }
    .wrapper          { padding: 1.5em !important; flex-direction: column; @include box-sizing; }
    #left-nav         { width: 100% !important;
      #contents       { font-size: 1.1em; line-height: 1.75em;
        &.closed      { max-height: 0; }
      }
      #version-select { display: inline-block; position: absolute; right: 1.5em; }
      #contents-btn   { display: inline-block; }
    }
    .guide-content    { width: 100%; max-width: 100%; margin: 0 !important; font-size: 15px;
      h1              { margin-top: 0; font-size: 3em; }
      h2              { font-size: 2.25em; }
      h3              { font-size: 1.75em; }
      h4              { font-size: 1.25em; }
      h5              { font-size: 1em; }
      h6              { font-size: .9em; }
    }
  }
}

@media #{$medium-up} { }
@media #{$medium-only} {

  .wrapper          {
    .flex-container { justify-content: flex-start; }
  }

}

@media #{$large-up} { }
@media #{$large-only} { }
