// BASE & HOMEPAGE COLORS
$bkg-grey-l1: #f3f3f3;
$bkg-grey: #e8e8e8;
$bkg-grey-d1: #c1c1c1;
$bkg-grey-d2: #d8d8d8;

$table-border: #a9a9a9;

$base-blue: #51768f;
$base-txt: #383838;
$base-txt-lt: #8a8a8a;

$default-footer-bkg: #23444c;
$default-footer-bkg-dark: #22353a;
$default-footer-txt: #99b1b7;
