@import 'normalize', 'variables';

body                        { position: relative; height: 100%; width: 100%; box-sizing: border-box; font-family: 'proxima nova', sans-serif; -webkit-font-smoothing: antialiased; background-color: $bkg-grey; }
#header                     { padding: .5em; background: url('/images/guides-header-bkg.svg');
  h1                        { padding: 1em 2em 2.5em; margin: 0 auto; max-width: 20em; color: #fff; font-size: 2em; text-align: center; font-weight: normal; }
  span                      { display: inline-block; }
  #nbg-logo-link            { color: #fff; opacity: .4; text-decoration: none; transition: opacity .2s;
    &:hover                 { opacity: .8; }
    #nbg-logo               { width: 2.5em; }
    .nbg-text               { margin: .65em 0 0 .3em; letter-spacing: 1px; font-size: 1.1em; vertical-align: top; text-transform: uppercase; }
  }
}

.wrapper                    { position: relative; padding: 3em 1.5em; margin: 0 auto; max-width: 1000px; box-sizing: border-box;
  #project-search           { position: absolute; right: 1.6em; border: none; padding: .75em;  width: 15em; }
  .category                 { transition: opacity .2s, height .2s; }
  .project                  { display: inline-block; margin: 1.5em 2.5em; text-align: center; color: $base-blue; text-decoration: none; overflow: hidden;
    img                     { width: 75px; }
  }
  #no-results               { display: none; width: 100%; position: absolute; top: 4em; left: 0; font-size: 1.5em; text-align: center; box-sizing: border-box;
    #obiwan                 { width: 80%; max-width: 420px; }
    p                       { margin: -2em 0 5em; color: $base-blue; line-height: 1.3em;
      a                     { color: $base-blue; text-decoration: none; border-bottom: 1px dotted $base-blue; }
      .small                { font-size: .8em; }
    }
  }
}
