@import 'normalize', 'variables', 'mixins';

html                        { height: 100% }
body                        { position: relative; min-height: 100%; display: flex; flex-direction: column; @include box-sizing; font-family: "proxima-nova", sans-serif; -webkit-font-smoothing: antialiased; background-color: $bkg-grey; }
#header                     { padding: .5em;;
  #nbg-logo-link            { color: #fff; @include opacity(.4); text-decoration: none; @include transition(opacity .2s);
    &:hover                 { @include opacity(.8); }
    #nbg-logo               { width: 2.5em; }
    .nbg-text               { margin: .65em 0 0 .3em; letter-spacing: 1px; font-size: .9em;  vertical-align: top; text-transform: uppercase; }
  }
}

#page-body                  { flex: 1; }

a                           { @include transition(color .2s); }

#footer                     { margin-top: 3em; text-align: center; color: $default-footer-txt; background: $default-footer-bkg;
  p                         { width: 100%; line-height: 1.4em;
    &.made-with-love        { padding: 5em 0 0; margin: 0; font-size: 1.2em; }
    &.license               { padding: 0 0 7em; margin: 0; font-size: .8em; font-style: italic; }
    &.contribute            { padding: 2em; margin: 0; background-color: $default-footer-bkg-dark; @include box-sizing; font-size: .95em; }
  }
  a                         { text-decoration: none; color: $default-footer-txt; border-bottom: 1px dotted $default-footer-txt; }
  span                      { vertical-align: middle; }
  svg#heart                 { width: 15px; fill: $default-footer-txt; }
  ul                        { margin-top: 2em; padding: 0; list-style: none;
    li                      { display: inline-block; padding: .25em 1em; border-right: 1px dotted $default-footer-txt; font-size: .8em; text-transform: uppercase;
      &:last-child          { border: none; }
      a                     { border: none; }
    }
  }
}

@import 'home-page';

@import 'guide';

@import 'feedback';

@import 'table-of-contents';

@import 'media-queries';
