// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #4f6bb1;
$proj-link: #3ba996;
$proj-link-hover: #1d7566;
$proj-nav-hl: #3ba996;

$proj-bkg-fill: #1a517d;
$proj-bkg-svg: url('/images/header-bkgs/locomotive.svg');

$proj-footer-lt: #2c6fa0;
$proj-footer-dk: #14527f;
$proj-footer-txt: #c7d9e6;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/perldoc';

// GLOBAL PROJECT STYLES
@import 'project-global';
