// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #3daf73;
$proj-link: #387fbf;
$proj-link-hover: #2a8e59;
$proj-nav-hl: #387fbf;

$proj-bkg-fill: #25575c;
$proj-bkg-svg: url('/images/header-bkgs/vue.svg');

$proj-footer-lt: #37a76c;
$proj-footer-dk: #25575c;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/friendly';

// GLOBAL PROJECT STYLES
@import 'project-global';
