// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #f9503b;
$proj-link: #1198d0;
$proj-link-hover: #f9503b;
$proj-nav-hl: #1198d0;

$proj-bkg-fill: #8d321b;
$proj-bkg-svg: url('/images/header-bkgs/laravel.svg');

$proj-footer-lt: #f9503b;
$proj-footer-dk: #a52c0d;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
