// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #797b7d;
$proj-link: #1484ea;
$proj-link-hover: #136fc3;
$proj-nav-hl: #1484ea;

$proj-bkg-fill: #737373;
$proj-bkg-svg: url('/images/header-bkgs/express.svg');

$proj-footer-lt: #868686;
$proj-footer-dk: #585858;
$proj-footer-txt: #e8e8e8;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
