#footer
  %p.made-with-love
    Made with
    %span= partial 'svgs/heart'
    by #{ link_to 'Nanobox', 'https://nanobox.io'}
  %p.license
    under the #{link_to 'MPL 2.0', 'https://www.mozilla.org/en-US/MPL/2.0/'}
  %p.contribute
    Want to contribute to the guides? Checkout our #{link_to 'contribution guidelines', '/contribute/'}.
