- project = current_page.data.project

- if data[project].versions
  #version-select
    %button#version-btn
      - if /^\/[a-zA-Z0-9\-]+\/([0-9.]+)\//.match(current_page.url)
        = /^\/[a-zA-Z0-9\-]+\/([0-9.]+)\//.match(current_page.url).captures.first
      - else
        = getDefaultVersion(project)
    %ul#versions
      - data[project].versions.each do |v|
        %li
          - if v.default?
            = link_to v.version, data[project].root
          - else
            = link_to v.version.to_s, data[project].root + v.version.to_s + '/'
