// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #395ea5;
$proj-link: #2989e0;
$proj-link-hover: #395ea5;
$proj-nav-hl: #c14ed4;

$proj-bkg-fill: #284479;
$proj-bkg-svg: url('/images/header-bkgs/lua.svg');

$proj-footer-lt: #395ea5;
$proj-footer-dk: #214986;
$proj-footer-txt: #c1cde4;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
