// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #785596;
$proj-link: #2989e0;
$proj-link-hover: #7157bd;
$proj-nav-hl: #5d30a0;

$proj-bkg-fill: #4a3053;
$proj-bkg-svg: url('/images/header-bkgs/elixir.svg');

$proj-footer-lt: #785596;
$proj-footer-dk: #4a3053;
$proj-footer-txt: #c7acde;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
