// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #716e65;
$proj-link: #3f9e93;
$proj-link-hover: #18564f;
$proj-nav-hl: #3f9e93;

$proj-bkg-fill: #3b6864;
$proj-bkg-svg: url('/images/header-bkgs/memcached.svg');

$proj-footer-lt: #3b6864;
$proj-footer-dk: #2d5451;
$proj-footer-txt: #b8cecc;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/trac';

// GLOBAL PROJECT STYLES
@import 'project-global';
