// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #b33b45;
$proj-link: #2989e0;
$proj-link-hover: #5e1c28;
$proj-nav-hl: #ce2932;

$proj-bkg-fill: #66212e;
$proj-bkg-svg: url('/images/header-bkgs/erlang.svg');

$proj-footer-lt: #b33b45;
$proj-footer-dk: #66212e;
$proj-footer-txt: #e6bdc0;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/trac';

// GLOBAL PROJECT STYLES
@import 'project-global';
