// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #4f97d4;
$proj-link: #2989e0;
$proj-link-hover: #105390;
$proj-nav-hl: #1387c1;

$proj-bkg-fill: #1b6086;
$proj-bkg-svg: url('/images/header-bkgs/perl.svg');

$proj-footer-lt: #4580b1;
$proj-footer-dk: #1b6086;
$proj-footer-txt: #cbdcea;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/tango';

// GLOBAL PROJECT STYLES
@import 'project-global';
