// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #a73333;
$proj-link: #248ca7;
$proj-link-hover: #de530c;
$proj-nav-hl: #de530c;

$proj-bkg-fill: #6f3118;
$proj-bkg-svg: url('/images/header-bkgs/percona.svg');

$proj-footer-lt: #a73333;
$proj-footer-dk: #8e2222;
$proj-footer-txt: #efb7b7;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/trac';

// GLOBAL PROJECT STYLES
@import 'project-global';
