// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #e14b31;
$proj-link: #4881b5;
$proj-link-hover: #315a7f;
$proj-nav-hl: #e14b31;

$proj-bkg-fill: #e14b31;
$proj-bkg-svg: url('/images/header-bkgs/emberjs.svg');

$proj-footer-lt: #f16b47;
$proj-footer-dk: #c14320;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
