// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #32759b;
$proj-link: #3d77ad;
$proj-link-hover: #173e63;
$proj-nav-hl: #3488c7;

$proj-bkg-fill: #34444e;
$proj-bkg-svg: url('/images/header-bkgs/rack.svg');

$proj-footer-lt: #32759b;
$proj-footer-dk: #21506d;
$proj-footer-txt: #c5dbe8;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/monokai';

// GLOBAL PROJECT STYLES
@import 'project-global';
