// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #676664;
$proj-link: #60a0c7;
$proj-link-hover: #346482;
$proj-nav-hl: #60a0c7;

$proj-bkg-fill: #949085;
$proj-bkg-svg: url('/images/header-bkgs/sinatra.svg');

$proj-footer-lt: #949085;
$proj-footer-dk: #676664;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/friendly';

// GLOBAL PROJECT STYLES
@import 'project-global';
