// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #ee4323;
$proj-link: #458bcc;
$proj-link-hover: #566565;
$proj-nav-hl: #ee4323;

$proj-bkg-fill: #3a4b4b;
$proj-bkg-svg: url('/images/header-bkgs/codeigniter.svg');

$proj-footer-lt: #3a4b4b;
$proj-footer-dk: #ee4323;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/friendly';

// GLOBAL PROJECT STYLES
@import 'project-global';
