// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #bf2d21;
$proj-link: #2989e0;
$proj-link-hover: #1b476f;
$proj-nav-hl: #bf2d21;

$proj-bkg-fill: #7d2019;
$proj-bkg-svg: url('/images/header-bkgs/java.svg');

$proj-footer-lt: #af2d26;
$proj-footer-dk: #7d2019;
$proj-footer-txt: #f5d6d4;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
