// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #468094;
$proj-link: #119cb5;
$proj-link-hover: #dc322d;
$proj-nav-hl: #dc322d;

$proj-bkg-fill: #254f5c;
$proj-bkg-svg: url('/images/header-bkgs/scala.svg');

$proj-footer-lt: #40778a;
$proj-footer-dk: #254f5c;
$proj-footer-txt: #ccdee4;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
