// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #d33c44;
$proj-link: #2989e0;
$proj-link-hover: #115577;
$proj-nav-hl: #d33c44;

$proj-bkg-fill: #111;
$proj-bkg-svg: url('/images/header-bkgs/cakephp.svg');

$proj-footer-lt: #d33c44;
$proj-footer-dk: #111;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
