// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #1771ab;
$proj-link: #2978e0;
$proj-link-hover: #0c4d77;
$proj-nav-hl: #1771ab;

$proj-bkg-fill: #195c86;
$proj-bkg-svg: url('/images/header-bkgs/go.svg');

$proj-footer-lt: #1771ab;
$proj-footer-dk: #195c86;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
