// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #75736f;
$proj-link: #2989e0;
$proj-link-hover: #da9807;
$proj-nav-hl: #da9807;

$proj-bkg-fill: #a28415;
$proj-bkg-svg: url('/images/header-bkgs/middleman.svg');

$proj-footer-lt: #da9807;
$proj-footer-dk: #af7904;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
