// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #36b182;
$proj-link: #2989e0;
$proj-link-hover: #1565ad;
$proj-nav-hl: #2e8663;

$proj-bkg-fill: #1d4830;
$proj-bkg-svg: url('/images/header-bkgs/django.svg');

$proj-footer-lt: #2e8663;
$proj-footer-dk: #1d4830;
$proj-footer-txt: #beecda;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
