// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #3b68af;
$proj-link: #2989e0;
$proj-link-hover: #3ea739;
$proj-nav-hl: #3ea739;

$proj-bkg-fill: #3b68af;
$proj-bkg-svg: url('/images/header-bkgs/clojure.svg');

$proj-footer-lt: #3b68af;
$proj-footer-dk: #0e4d8e;
$proj-footer-txt: #c9d7ec;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/pastie';

// GLOBAL PROJECT STYLES
@import 'project-global';
