// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #f36429;
$proj-link: #437eb3;
$proj-link-hover: #f36429;
$proj-nav-hl: #f36429;

$proj-bkg-fill: #31302b;
$proj-bkg-svg: url('/images/header-bkgs/magento.svg');

$proj-footer-lt: #31302b;
$proj-footer-dk: #f36429;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
