// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #3672a4;
$proj-link: #2989e0;
$proj-link-hover: #cca300;
$proj-nav-hl: #cca300;

$proj-bkg-fill: #354666;
$proj-bkg-svg: url('/images/header-bkgs/python.svg');

$proj-footer-lt: #3672a4;
$proj-footer-dk: #2b487d;
$proj-footer-txt: #d1e0ec;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
