// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #d4331e;
$proj-link: #2989e0;
$proj-link-hover: #2c69a0;
$proj-nav-hl: #d4331e;

$proj-bkg-fill: #812a1f;
$proj-bkg-svg: url('/images/header-bkgs/couchdb.svg');

$proj-footer-lt: #d4331e;
$proj-footer-dk: #812a1f;
$proj-footer-txt: #f9c8c1;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
