// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #51ca55;
$proj-link: #576ac5;
$proj-link-hover: #45ab48;
$proj-nav-hl: #5463ab;

$proj-bkg-fill: #363f63;
$proj-bkg-svg: url('/images/header-bkgs/lisp.svg');

$proj-footer-lt: #47527d;
$proj-footer-dk: #363f63;
$proj-footer-txt: #bec6e6;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/emacs';

// GLOBAL PROJECT STYLES
@import 'project-global';
