// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #138ac7;
$proj-link: #138ac7;
$proj-link-hover: red;
$proj-nav-hl: red;

$proj-bkg-fill: #111;
$proj-bkg-svg: url('/images/header-bkgs/angular.svg');

$proj-footer-lt: #138ac7;
$proj-footer-dk: #111;
$proj-footer-txt: #fff;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';

// GLOBAL PROJECT STYLES
@import 'project-global';
