// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #447584;
$proj-link: #2989e0;
$proj-link-hover: #1d6982;
$proj-nav-hl: #c7220e;

$proj-bkg-fill: #2c434d;
$proj-bkg-svg: url('/images/header-bkgs/home.svg');

$proj-footer-lt: '';
$proj-footer-dk: '';
$proj-footer-txt: '';

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/trac';

// GLOBAL PROJECT STYLES
@import 'project-global';
