// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #78b14f;
$proj-link: #649640;
$proj-link-hover: #376715;
$proj-nav-hl: #5d9e2d;

$proj-bkg-fill: #2c2b27;
$proj-bkg-svg: url('/images/header-bkgs/nodejs.svg');

$proj-footer-lt: #2c2b27;
$proj-footer-dk: #649640;
$proj-footer-txt: #fff;

// GLOBAL PROJECT STYLES
@import 'project-global';

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/monokai';
