// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #635a94;
$proj-link: #2989e0;
$proj-link-hover: #6f47e2;
$proj-nav-hl: red;

$proj-bkg-fill: #635a94;
$proj-bkg-svg: url('/images/header-bkgs/php.svg');

$proj-footer-lt: #635a94;
$proj-footer-dk: #473f75;
$proj-footer-txt: #cac4e8;

// GLOBAL PROJECT STYLES
@import 'project-global';

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/manni';
