// DEFINE PROJECT-SPECIFIC COLORS
$proj-accent: #356ca9;
$proj-link: #2989e0;
$proj-link-hover: #214c7b;
$proj-nav-hl: #ea7101;

$proj-bkg-fill: #325d93;
$proj-bkg-svg: url('/images/header-bkgs/mysql.svg');

$proj-footer-lt: #356ca9;
$proj-footer-dk: #255386;
$proj-footer-txt: #cddbea;

// SYNTAX HIGHLIGHTING (Optional)
// Themes can be found in /source/stylesheets/syntax-hl
@import 'syntax-hl/github';

// GLOBAL PROJECT STYLES
@import 'project-global';
